{% extends 'base.html' %}

{% block title %}bookmark_change_list.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>Bookmark Change - {{ user }}</h1>

        <table class="change-list">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Owner</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.url }}</td>
                    <td>{{ item.owner }}</td>
                    <td><a href="{% url 'bookmarkApp:update' item.id %}">Update</a></td>
                    <td><a href="{% url 'bookmarkApp:delete' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}
<div id="footer">
    &copy; Y.M.Kwon Django Web Programming Since 2019
</div>
{% endblock footer %}